body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
a{
    color: rgb(255, 255, 255);
}
header {
    background-color: #8cd3c5;
}
nav {
    background-color: #467473;
}
main {
    background-color:#8f1919;
    font-size: 80%;
}
footer {
    background-color: #467473;
    text-align: center;
}
li {
    display: inline-block;
    width: 30%;
    text-align: center;
}
h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(60, 51, 77);
}
p {
    line-height: 150%;
    color: rgb(255, 252, 252);
}