body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
body>a{
    color: blue;
}
a{
    color: rgb(255, 255, 255);
}
header {
    background-color: #467473;
}
header>img {
    width: 10%;
    position: relative;
    top: 25px;
}
nav {
    display: inline-block;
    width: 80%;
}
main {
    background-color:#8f1919;
    font-size: 80%;
}
footer {
    background-color: #467473;
    text-align: center;
}
li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    margin-left: 0;
    padding: 0 10px;
}
h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(245, 161, 34);
}
p {
    line-height: 150%;
    color: rgb(255, 252, 252);
}
.park_photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.neighborhood_photos {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    row-gap: 10px; 
    align-items: center;
    justify-items: center;
}